<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <unity>
    <containers>
      <container>
        <types>
          <type type="UFConsole.IPerson, UFConsole" mapTo="UFConsole.Doctor, UFConsole">
            <lifetime type="singleton"/>
          </type>
          <type type="UFConsole.IVehicle, UFConsole" mapTo="UFConsole.FireTruck, UFConsole">
            <lifetime type="singleton"/>
          </type>
          <type type="UFConsole.Management, UFConsole">
            <lifetime type="singleton"/>
          </type>
        </types>
      </container>
    </containers>
  </unity>
</configuration>

